@model clinica2.Models.receptions

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color: #a35f56;">Удаление</h1>
<h3 style="color: #a35f56;">Вы уверены, что хотите это удалить?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Дата приема</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.date_reception)</dd>
        <dt class = "col-sm-2">Время приема</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.time_reception)</dd>
        <dt class = "col-sm-2">Пациент</dt>
        <dd class="col-sm-10">
            @Model.patients.first_name
            @Model.patients.last_name
            @Model.patients.middle_name
        </dd>
        <dt class = "col-sm-2">Врач</dt>
        <dd class="col-sm-10">
            @Model.doctors.first_name
            @Model.doctors.last_name
            @Model.doctors.middle_name
        </dd>
        <dt class = "col-sm-2">Статус</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.status.status_name)</dd>
        <dt class = "col-sm-2">Симптомы</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.symptoms)</dd>
        <dt class = "col-sm-2">Диагноз</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.diagnosis.diagnosis_name)</dd>
        <dt class = "col-sm-2">Лечение</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.treatment)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_reception" />
        <input type="submit" value="Удалить" class="btn btn-danger" style="font-weight: bold; padding: 6px 12px; border-radius: 4px;" />
        <a asp-action="Index" class="btn"
           style="font-weight: bold; padding: 6px 12px; border-radius: 4px; background-color: #a35f56; color: white; border: 1px solid #a35f56; margin-left: 10px;">
            Вернуться
        </a>
    </form>
</div>
