@model IEnumerable<clinica2.Models.receptions>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #a35f56;">Приемы</h1>

<table class="table">
    <thead>
        <tr>
            <th style="color: #a35f56;">Дата приема</th>
            <th style="color: #a35f56;">Время приема</th>
            <th style="color: #a35f56;">Пациент</th>
            <th style="color: #a35f56;">Врач</th>
            <th style="color: #a35f56;">Статус</th>
            <th style="color: #a35f56;">Симптомы</th>
            <th style="color: #a35f56;">Диагноз</th>
            <th style="color: #a35f56;">Лечение</th>
            <th style="color: #a35f56;">Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_reception)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_reception)
            </td>
            <td>
                @item.patients.first_name @item.patients.last_name @item.patients.middle_name
            </td>
            <td>
                @item.doctors.first_name @item.doctors.last_name @item.doctors.middle_name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status.status_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diagnosis.diagnosis_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.treatment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_reception">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.id_reception">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
