@model IEnumerable<clinica2.Models.patients>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.middle_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.policy_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middle_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.policy_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.site.site_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles.role_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_patient">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_patient">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_patient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
