@model IEnumerable<clinica2.Models.patients>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #a35f56;">Пациенты</h1>

<table class="table">
    <thead>
        <tr>
            <th style="color: #a35f56;">Фамилия</th>
            <th style="color: #a35f56;">Имя</th>
            <th style="color: #a35f56;">Отчество</th>
            <th style="color: #a35f56;">Дата рождения</th>
            <th style="color: #a35f56;">Пол</th>
            <th style="color: #a35f56;">Номер полиса</th>
            <th style="color: #a35f56;">Телефон</th>
            <th style="color: #a35f56;">Логин</th>
            <th style="color: #a35f56;">Пароль</th>
            <th style="color: #a35f56;">Участок</th>
            <th style="color: #a35f56;">Роль</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middle_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.policy_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.site.site_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles.role_name)
            </td>
        </tr>
}
    </tbody>
</table>
