@model IEnumerable<clinica2.Models.site>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.site_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.site_number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_site">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_site">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_site">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
